<?xml version="1.0" encoding="UTF-8"?>

<beans autowire-default="byType">
    <bean id="dao" class="com.xy.dao.UserDaoImpl"/>

    <bean id="userService" class="com.xy.service.UserService">
        <!--<property name="dao" ref="dao"></property>-->
        <!--<constructor name="dao" ref="dao"></constructor>-->
    </bean>
</beans>

